###
# example config file for scripts running the KrdWrdApp
#

KW_DISPLAY=${KW_DISPLAY:-"66"}
KW_SCREEN=${KW_SCREEN:-"0"} 
KW_XVFB=${KW_XVFB:-"true"} # false

XULRUNNER=${XULRUNNER:-~/krdwrd/trunk/external/XULRunner/xulrunner}
APP=${APP:-~/krdwrd/trunk/src/app}
APPINI=${APPINI:=$APP/application.ini}

# timeout for follow mode - in seconds
KW_TMOUT=${KW_TMOUT:-"15"}

# disable all plugins
# for flash alone this: http://flashblock.mozdev.org/ might also work
export MOZ_PLUGINS=/dev/null
