###
# example config file for scripts running the KrdWrdApp
#

KW_DISPLAY=66
KW_SCREEN=0 
KW_XVFB=true # false

XULRUNNER=~/krdwrd/trunk/external/XULRunner/xulrunner
APP=~/krdwrd/trunk/src/app

# timeout for follow mode - in seconds
KW_TMOUT=15
